#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_vdinar
#build/vdinard::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_vdinar)

DEB_INSTALL_EXAMPLES_vdinard += debian/examples/*
DEB_INSTALL_MANPAGES_vdinard += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix vdinard
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f vdinar-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake vdinar-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_vdinar
	src/test_vdinar

# Ensure wrapper is set executable
binary-post-install/vdinard:
	chmod +x $(cdbs_curdestdir)usr/bin/vdinard
binary-post-install/vdinar-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/vdinar-qt
